/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a2fc4e;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header p {
    margin: 0;
}

header a {
    color: rgb(208, 41, 41);
    text-decoration: none;
    margin: 0 10px;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(67, 252, 76);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
    margin: 20px 0;
    color: #777;
}
